.post{
    width: 385px;
    margin: 0 25px 10px 10px;
}

.postImg{
    width : 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;

}

.postInfor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postCat{
    font-family: 'Lora', serif;
    font-size: 20px;
    color: #be9656;
    line-height: 20px;
    margin-right: 10px;
    cursor: pointer;

}

.postCategory{
    margin: 15px;
}

.postTitle{
    font-family: 'Varela', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    cursor: pointer;
}

.postDate{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 13px;
    color: #999;
    margin-top: 8px;
    margin-bottom: 8px
}

.postDes{
    font-family: 'Varela', sans-serif;
    font-size: 15px;
    color: #444;
    line-height: 22px;
    margin-top: 15px;
    margin-bottom: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}